body {
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
}

.title {
    font-size: 2.5rem;
    color: #61dafb;
}

#choix-joueur, #resultat, .scoreboard {
    margin: 20px;
}

.choix {
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
}

#choix-joueur-img, #choix-ordi {
    font-size: 4rem;
}

#verdict {
    font-size: 1.5rem;
}

#message-special {
    font-size: 1.8rem;
    color: #e74c3c;
}

.modal {
    color: black;
}